# Ignore node_modules folders in both backend and frontend
/backend/node_modules/
/frontend/node_modules/
/Project
/node_modules/
/backend/employeebackend/node_modules/

# Ignore .env file in the backend
/backend/.env
/Project/MYProject/node_modules
/Project/backend/node_modules
# Ignore system and IDE-specific files
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.zip

